* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
nav {
    width: 100%;
    background: #fabe00;
    overflow: auto;
}

ul {
    margin: 0 0 0 150px;
    color: black;
}

li {
    padding: 0px 12px;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
    color: #fabe00;
    font-family: 'Lato', sans-serif;
    padding-right: 80px;
}

    li::after {
        content: '';
        width: 0%;
        height: 4px;
        background: white;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    li:hover::after {
        width: 100%;
    }

.namcologo img {
    width: 230px;
    position: absolute;
    margin-top: -10px;
    margin-left: 150px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}

nav a {
    width: 100px;
    display: block;
    padding: 19px 15px;
    text-decoration: none;
    color: white;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.tekkenlogo {
    position:absolute;
    top: 655px;
    left:790px;
    z-index: 2;
}
.tekkenbg2{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/tekkenbg.png);
    background-color: black;
    filter: contrast(120%);
    background-position: center;
    background-size: cover;
    position: relative;
    top:-10px;
    z-index:1;
}
.para1 {
     color:white;
    position: absolute;
    top: 280px;
    left: 985px;
    line-height: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}
.para2 {
    color: #fff;
    position: absolute;
    top: 640px;
    left: 240px;
    line-height: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}
.tekkenbg3{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/tekkenbg2.png);
    background-color: black;
    filter: contrast(120%);
    background-position: center;
    background-size: cover;
    position: relative;
    top: -10px;
    z-index: index 0;;
    filter: blur(20%);
}
.header1{
    color:white;
    position: absolute;
    top: 210px;
    left: 920px;
    font-size:26px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.4px;
}
.header2{
    color:white;
    position: absolute;
    top: 570px;
    left: 280px;
    font-size:26px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.4px;
}
.row {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    font-family: 'Microsoft Sans Serif';
    font-size: 15px;
    color: white;
    position:relative;
    top:150px;
}
.game-col {
    height:auto;
    width:20%;
    text-align:center;
    flex-basis: 80%;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
}

    .game-col img {
        width: 80%;
        display: compact;
        border-radius: 10px;
        box-shadow: 4px 4px 6px;
        transition:transform 1s;
        transform:scale(0.950);
        color:black;
        
    }
    .game-col:hover img{
        width:80%;
        transform:scale(1.0);
        border-radius:10px;
        color: rgb(109, 9, 9);
    
    }
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background-color: darkred;
    border-radius: 25px;
}
footer {
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
    color: red;
    padding: 23px;
    border: 10px solid black;
    background-color: black;
    overflow:hidden;
}
.header3{
    color:white;
    position: absolute;
    top: 50px;
    left:680px;
    align-items: center;
    font-size:35px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.4px;
}
.req {
    position: relative;
    top: 226px;
    left: 100px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    border: 3px solid rgb(68, 68, 68);
    width: 800px;
    padding: 10px;
    color: white;

}
.req2 {
    position: relative;
    top:-100px;
    left: 960px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    border: 3px solid rgb(68, 68, 68);
    width: 800px;
    padding: 10px;
    color: rgb(255, 255, 255);

}
html{
    scroll-behavior: smooth;
}

